/* #Global
================================================== */
.text-line::after {
  left: 0;
  right: auto;
}

/* #Checkox
================================================== */
.checkbox label {
  padding-left: .5vw;
  padding-right: 0;
}

@media (max-width: 1023.98px) {
  .checkbox label {
    padding-right: 0;
    padding-left: 3vw;
  }
}

/* #Header
================================================== */
.cohen-header-action {
  left: 6.77vw;
  right: auto;
}

.cohen-header-link svg {
  margin-left: .5vw;
  margin-right: 0;
}

@media (min-width: 1024px) {
  .cohen-header-link-list .collapse {
    right: auto;
    left: 0;
  }

  .cohen-header-link:not(:last-child) {
    margin-right: 2.34vw;
    margin-left: 0;
  }

  .cohen-header-action::before {
    right: 63%;
    transform: translateY(-73%) translateX(100%) rotate(45deg);
  }

  .cohen-header-logo img {
    width: 16.88vw;
  }
}

@media (max-width: 1023.98px) {
  .cohen-header-links .collapse-toggler .simbol {
    margin-right: 0;
    margin-left: auto;
  }

  .cohen-header-logo img {
    width: 51.88vw;
  }
}

/* #Footer
================================================== */
.cohen-footer-top ul li:not(:last-child) {
  margin-right: 3.125vw;
  margin-left: 0;
}

.cohen-footer .social ul li:not(:last-child) {
  margin-left: 0;
  margin-right: 1.5vw;
}

.cohen-footer .logo img {
  margin-right: 0;
  margin-left: auto;
}

@media (max-width: 1023.98px) {
  .cohen-footer .social ul li:not(:last-child) {
    margin-left: 0;
    margin-right: 5vw;
  }
}

/* #Banner
================================================== */
.cohen-banner::after {
  left: auto;
  right: 25.5%;
  transform: translateY(-70%) translateX(50%) rotate(45deg);
}

@media (min-width: 1023.98px) {
  .cohen-banner h1 {
    font-size: 2.1vw!important;
  }
  
  .cohen-banner h1 br {
    display: none;
  }
  
  .cohen-banner p {
    font-size: 1.45vw!important;
  }
  
  .cohen-banner .text {
    width: 23%;
  }
}

@media (max-width: 1023.98px) {
  .cohen-banner .text h1 {
    font-size: 7vw!important;
  }

  .cohen-banner .text p {
    font-size: 4.5vw!important;
  }
}

/* #Banner 2
================================================== */
.cohen-banner-2::after {
  left: auto;
  right: 23.5%;
  transform: translateY(-70%) translateX(50%) rotate(45deg);
}

/* #Breadcrumbs
================================================== */
.cohen-breadcrumbs ul li {
  margin-left: 0;
  margin-right: .25vw;
}

.cohen-breadcrumbs ul li:not(:last-child)::after {
  margin-left: .25vw;
  margin-right: 0;
}

@media (max-width: 1023.98px) {
  .cohen-breadcrumbs ul li {
    margin-left: 0;
    margin-right: 2vw;
  }

  .cohen-breadcrumbs ul li:not(:last-child)::after {
    margin-right: 0;
    margin-left: 2vw;
  }
}

/* #Home Products
================================================== */
@media (min-width: 1023.98px) {
  .cohen-home-products li:nth-child(3) .text::after,
  .cohen-home-products li:nth-child(4) .text::after,
  .cohen-home-products li:nth-child(7) .text::after,
  .cohen-home-products li:nth-child(8) .text::after,
  .cohen-home-products li:nth-child(11) .text::after,
  .cohen-home-products li:nth-child(12) .text::after,
  .cohen-home-products li:nth-child(15) .text::after,
  .cohen-home-products li:nth-child(16) .text::after {
    left: auto;
    right: 0;
    transform: translate(50%, -50%) rotate(45deg);
  }
  
  /* Text */
  .cohen-home-products li .text {
    padding: 2.5vw 3.65vw 2vw 2.5vw;
    line-height: 1.5;
    position: relative;
    z-index: 1;
  }
  
  .cohen-home-products li .text::after {
    right: auto;
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .cohen-home-products li p {
    margin-bottom: 2vw;
  
    display: -webkit-box;
    margin-bottom: 2vw;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

/* #Info Section
================================================== */
@media (min-width: 1023.98px) {
  .cohen-info-section .text {
    padding-left: 0;
    padding-right: 3.125vw;
  }
}

/* #Info Section 2
================================================== */
@media (min-width: 1023.98px) {
  .cohen-info-section-2 .text {
    padding-left: 0;
    padding-right: 3.125vw;
  }
}

/* #Newsletter
================================================== */
.cohen-newsletter .input-group input:not(:last-child) {
  margin-left: 0;
  margin-right: .8vw;
}

@media (max-width: 1023.98px) {
  .cohen-newsletter .checkbox label {
    text-align: left;
  }
}

/* #Media Boxes
================================================== */
@media (min-width: 1023.98px) {
  .cohen-media-box .text {
    padding-left: 0;
    padding-right: 2vw;
  }
  
  .cohen-media-box:nth-child(even) .text {
    padding-right: 0;
    padding-left: 2vw;
  }
}

/* #Product Header
================================================== */
@media (min-width: 1023.98px) {
  .cohen-product-header .text {
    padding-left: 0;
    padding-right: 6vw;
  }
}

@media (max-width: 1023.98px) {
  .cohen-product-header .text .text-line::after {
    left: auto;
  }
}

/* #Product Grid
================================================== */
.cohen-product-grid .text {
  padding-left: 0;
  padding-right: 2.7vw;
}

/* #Product Header 3
================================================== */
.product-header-3 .text ul {
  padding-right: 0;
  padding-left: 1vw;
}

@media (max-width: 1023.98px) {
  .product-header-3 .text ul {
    padding-right: 0;
    padding-left: 8vw;
  }
}

/* #Contact
================================================== */
.cohen-contact .text {
  padding-right: 2.6vw;
  padding-left: 18.8vw;
}

@media (max-width: 1023.98px) {
  .cohen-contact .text {
    padding: 10vw 4%;
  }
}